.base {
    color: aqua;
    position: right;
}

.inverse-base {
    background-color: orange;
}

.wrapper {
    position: relative;
}
.info {
    font-size: 0.8rem;
    width: 250px;
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    background: white;
    border-radius: 10px;
    opacity: 0;
    transition: 5.0s all;
    position: right;
    bottom: 20px;
    left: 10px;
    z-index: 3;
}

img {
    width: 100px;
    height: 100px;
}

#text {
    size: 5px;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#button-a {
    position: absolute;
    white-space: nowrap;
    font-size: 2rem;
}